apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: succesfull-analysis
  namespace: adv-demo-kargo-app
spec:
  metrics:
  - name: test
    provider:
      job:
        metadata:
         labels:
           name: analysis-ok
        spec:
          backoffLimit: 1
          template:
            spec:
              containers:
              - name: test
                image: ghcr.io/linuxcontainers/alpine:latest
                command:
                - sleep
                - "10"
              restartPolicy: Never
---
apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: failing-analysis
  namespace: adv-demo-kargo-app
spec:
  metrics:
  - name: test
    provider:
      job:
        metadata:
           name: analysis-nok
        spec:
          backoffLimit: 1
          template:
            spec:
              containers:
              - name: test
                image: ghcr.io/linuxcontainers/alpine:latest
                command:
                - sleepzzzzzzzzz
                - "10"
              restartPolicy: Never
