kind: Gateway
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: demo-app
spec:
  gatewayClassName: kgateway
  listeners:
  - protocol: HTTP
    port: 80
    name: http
    allowedRoutes:
      namespaces:
        from: All

