argo-cd:
  server:
    service:
      type: LoadBalancer
  configs:
    params:
      server.insecure: "false"
argocd-apps:
  applications:
    # Self-managed ArgoCD stack
    argo-stack:
      namespace: argo-stack
      source:
        repoURL: https://github.com/ansilh/kind-argo-stack.git
        targetRevision: main
        path: charts/argo-stack
        helm:
          valueFiles:
            - values.yaml
      project: argo-stack
      destination:
        server: https://kubernetes.default.svc
        namespace: argo-stack
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
      info:
        - name: docs
          value: https://argo-cd.readthedocs.io/en/stable/
    # App-of-apps for workloads (kargo, etc.)
    argo-stack-apps:
      namespace: argo-stack
      sources:
        - repoURL: https://github.com/ansilh/kind-argo-stack.git
          targetRevision: main
          path: apps
          directory:
            recurse: true
      project: argo-stack
      destination:
        server: https://kubernetes.default.svc
        namespace: argo-stack
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
  projects:
    # Project to handle ArgoCD Stack
    argo-stack:
      namespace: argo-stack
      description: All Argo Services
      sourceRepos:
        - '*'
      destinations:
        - namespace: '*'
          server: https://kubernetes.default.svc
      clusterResourceWhitelist:
        - group: '*'
          kind: '*'
      namespaceResourceWhitelist:
        - group: '*'
          kind: '*'
   
